<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Who are you, anyway?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <div class="row text-center">
                            <p class="text-muted">Superliminal Defenestration (Abreviated "Super-Def Games") is an indie studio based out of California, comprised of 2 students (see below).</p>
                        </div>
                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>